.chart {
	canvas {
		width: 90% !important;
		height: 300px;
		margin-top: 30px;
	}
	ul {
		list-style: none;
		width: 90%;
		padding: 0;
		margin: 20px auto;
		display: flex;
		li {
			flex-grow: 1;
			line-height: 24px;
			color: $white;
			font-size: em(12px);
			text-align: center;
			span{
				width: 16px;
				height: 16px;
				display: inline-block;
				border: 2px solid #fff;
				border-radius: 50%;
				margin-right: 2px;
				vertical-align: text-bottom;
			}
		}
	}
	h3 {
		color: $white;
		font-size: em(14px);
		font-weight: $font-weight--normal;
	}
}