.contact-form {
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	&__textbox,
	&__textarea {
		width: 100%;
		margin-top: 25px;
		font-size: em(16px);
		line-height: em(24px, 16px);
		border: none;
		outline: none;
		border-radius: 0;
		box-sizing: border-box;
	}

	&__textbox {
		height: 46px;
		padding-left: 15px;
	}

	&__textarea {
		height: 140px;
		padding: 10px 15px;
		resize: none;
	}

	&__button {
		width: 100%;
		height: 52px;
		margin-top: 30px;
		color: $white;
		font-size: em(18px);
		font-weight: $font-weight--bold;
		background-color: $pink-rose--tint;
		border: none;
		outline: none;
		&:active {
			background-color: lighten($pink-rose--tint, 3%);
		}
	}

	@include mq(large) {
		width: 50%;
		overflow: hidden;

		&__textbox,
		&__textarea {
		}

		&__button {
			width: 120px;
			float: right;
		}
	}
}