.info {
	.info__item {
		line-height: em(24px, 18px);
		padding-left: 0;
		@include mq(large) {
			padding-left: 1.6em;
		}
		a {
			vertical-align: middle;
			margin-right: 10px;
			@include mq(large) {
				margin-right: 15px;
			}
		}
	}
}