.profile {
	.profile--item {
		line-height: em(36px, 18px);
		padding-left: em(5px);
		@include mq(large) {
			padding-left: 1.6em;
		}
		span {
			vertical-align: sub;
			margin-right: 15px;
		}
	}
}