.showcase {
	width: 90%;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	&__item {
		img {
			width: 100%;
		}
	}
	@include mq(large) {
		text-align: center;
		&__item {
			display: inline-block;
			width: 30%;
			margin: 1%;
			img {
				width: 100%;
			}
		}
	}
}