<section id="contact" ng-controller="ContactFormCtrl">
  	<div class="container">
  		<h2 class="heading heading--contact">CONTACT</h2>
	    <p class="sub-heading sub-heading--contact">Write in a few words whatever you want to tell me</p>
	    <form class="contact-form" method="POST" action="http://formspree.io/davidhazeland@gmail.com">
	      <input class="contact-form__textbox" type="text" name="name" placeholder="Name"/>
	      <input class="contact-form__textbox" type="email" name="email" placeholder="Email"/>
	      <textarea class="contact-form__textarea" name="message" placeholder="Message"></textarea>
	      <button class="contact-form__button">SEND</button>
        <input type="hidden" name="_next" value="//formspree.io//thanks.html" />
        <input type="hidden" name="_subject" value="New submission!" />
        <input type="text" name="_gotcha" style="display:none"/>
	    </form>
  	</div>
</section>