<footer ng-controller="InfoCtrl">
  <div class="container">
    <ul class="social">
      <li class="social__item">
        <a href="{{info.facebook}}" class="social__item--facebook"></a>
      </li>
      <li class="social__item">
        <a href="{{info.twitter}}" class="social__item--twitter"></a>
      </li>
      <li class="social__item">
        <a href="{{info.linkedin}}" class="social__item--linkedin"></a>
      </li>
    </ul>
    <p>Copyright 2015 by <span>David Hazeland<span></p>
  </div>
</footer>