<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>David Hazeland</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header ng-controller="headerCtrl">
      <div class="container">
        <a href="#" id="logo" class="logo"></a>
        <span ng-click="toggleNav()" class="list-icon right"></span>
      </div>
      <mobile-nav></mobile-nav>
    </header>

    <div id="content">
      <section id="cover" ng-controller="infoCtrl">
        <img src="{{ info.avatar }}" class="avatar">
        <p class="name">{{ info.name }}</p>
        <p class="job">{{ info.job }}</p>
      </section>
      <section id="skill" ng-controller="skillCtrl">
        <h2 class="heading heading--skill">SKILL</h2>
        <skill-chart class="chart"></skill-chart>
        <coding-chart class="chart"></coding-chart>
        <js-chart class="chart"></js-chart>
      </section>
      <section id="project" ng-controller="projectCtrl">
        <h2 class="heading heading--project">PROJECT</h2>
        <ul class="showcase">
          <li class="showcase__item" ng-repeat="project in projects">
            <a href="{{project.link}}"><img class="showcase__item" src="{{project.image}}"></a>
          </li>
        </ul>
      </section>
      <section id="contact" ng-controller="contactCtrl">
        <h2 class="heading heading--contact">CONTACT</h2>
        <form class="contact-form">
          <input class="contact-form__textbox" type="text" placeholder="Name"/>
          <input class="contact-form__textbox" type="email" placeholder="Email"/>
          <textarea class="contact-form__textarea" placeholder="Message"></textarea>
          <button class="contact-form__button" ng-click="sendMessage($event)">SEND</button>
        </form>
      </section>
    </div>

    <footer ng-controller="infoCtrl">
      <ul class="social">
        <li class="social__item">
          <a href="{{info.facebook}}" class="social__item--facebook"></a>
        </li>
        <li class="social__item">
          <a href="{{info.twitter}}" class="social__item--twitter"></a>
        </li>
        <li class="social__item">
          <a href="{{info.linkedin}}" class="social__item--linkedin"></a>
        </li>
      </ul>
      <p>Copyright 2015 by <span>David Hazeland<span></p>
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
