header {
	width: 100%;
	background-color: $grass--shade;
	padding-bottom: 120px;
	.container {
		padding: 15px 0 30px;
		span {
			margin-top: 12px;
		}
	}
	@include mq(large) {
		height: 300px;
		@extend .cover;
	}
}

