#info {
	text-align: center;
	padding-bottom: 30px;
	img {
		width: 50%;
		margin-top: -120px;
		margin-bottom: em(5px);
	}
	p {
		margin: em(10px) 0;
	}
	@include mq(large) {
		height: 100px;
		margin: -75px auto 0;
		text-align: left;
		img {
			width: 215px;
			float: left;
			margin-right: 15px;
		}
	}
	&::after {
		content: '';
		clear: both;
		display: block;
	}
}