@mixin img-replace($img, $w, $h, $disp: block) {
	background-image: url("#{$path--rel}/#{$img}");
	background-repeat: no-repeat;
	width: $w;
	height: $h;
	display: $disp;
  background-size: 100% 100%;
}

@mixin heading-color ($text, $rule) {
  color: $text;
  &:after {
    background-color: $rule;
  }
}

@mixin is-pointer () {
  &:hover {
    cursor: pointer;
  }
}

@mixin mq($break) {
  @if $break == "small" {
    @media (min-width: $brkpoint--sm) and (max-width: $brkpoint--md) {
      @content;
    }
  }
  @else if $break == "medium" {
    @media (min-width: $brkpoint--md + 1) {
      @content;
    }
  }
  @else if $break == "large" {
    @media (min-width: $brkpoint--lg) {
      @content;
    }
  }
  @else {
    @error "No value could be retrieved for `#{$break}`. "
  }
}