
/******************
Icon background
*******************/

@mixin img-replace($img, $w, $h, $disp: block) {
	background-image: url("#{$path--rel}/#{$img}");
	background-repeat: no-repeat;
	width: $w;
	height: $h;
	display: $disp;
  background-size: 100% 100%;
}

/******************
Heading
*******************/

@mixin heading-color ($text, $rule) {
  color: $text;
  &:after {
    background-color: $rule;
  }
}

/******************
Pointer hover
*******************/

@mixin is-pointer () {
  &:hover {
    cursor: pointer;
  }
}

/******************
Group
*******************/
@mixin group () {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

/******************
Collapsed
*******************/
@mixin is-collapsed () {
  visibility: collapse;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 0 !important;
}

/******************
Media query
*******************/

@mixin mq($break) {
  @if $break == "small" {
    @media (min-width: $brkpoint--sm) and (max-width: $brkpoint--md) {
      @content;
    }
  }
  @else if $break == "medium" {
    @media (min-width: $brkpoint--md + 1) and (max-width: $brkpoint--lg) {
      @content;
    }
  }
  @else if $break == "large" {
    @media (min-width: $brkpoint--lg) {
      @content;
    }
  }
  @else {
    @error "No value could be retrieved for `#{$break}`. "
  }
}