<header ng-controller="headerCtrl">
  <div class="container">
    <a href="#" id="logo" class="logo"></a>
    <span ng-click="toggleNav()" class="list-icon right is-collapsed-desktop"></span>
    <navigation class="is-expanded-desktop desktop-nav"></navigation>
  </div>
  <navigation class="is-collapsed-desktop mobile-nav" ng-show="isCollapsedNav"></navigation>
</header>

<div id="content">
  <section id="cover" ng-controller="infoCtrl">
    <img src="{{ info.avatar }}" class="avatar">
    <p class="name">{{ info.name }}</p>
    <p class="job">{{ info.job }}</p>
    <q class="is-expanded-desktop quote">{{ info.quote }}</q>
  </section>
  <section id="workspace" ng-controller="workspaceCtrl" class="is-expanded-desktop">
  	<h2 class="heading heading--project">GALLERY</h2>
    <workspace items="items"></workspace>
    <q>The quiter you become, the more you are able to hear</q>
  </section>
  <section id="skill" ng-controller="skillCtrl">
    <div class="container">
      <h2 class="heading heading--skill">SKILL</h2>
      <p class="sub-heading sub-heading--skill">Some stuff I'm researching and working</p>
      <div class="container">
        <skill-chart class="chart"></skill-chart>
        <coding-chart class="chart"></coding-chart>
        <js-chart class="chart"></js-chart>
      </div>
    </div>
  </section>
  <section id="project" ng-controller="projectCtrl">
    <div class="container">
      <h2 class="heading heading--project">PROJECT</h2>
      <p class="sub-heading sub-heading--project">A bunch of things that I've done so far</p>
      <ul class="showcase">
        <li class="showcase__item" ng-repeat="project in projects">
          <a href="{{project.link}}"><img class="showcase__item" src="{{project.image}}"></a>
        </li>
      </ul>
    </div>
  </section>
  <section id="contact" ng-controller="contactCtrl">
  	<div class="container">
  		<h2 class="heading heading--contact">CONTACT</h2>
	    <p class="sub-heading sub-heading--contact">Write in a few words whatever you want to tell me</p>
	    <form class="contact-form">
	      <input class="contact-form__textbox" type="text" placeholder="Name"/>
	      <input class="contact-form__textbox" type="email" placeholder="Email"/>
	      <textarea class="contact-form__textarea" placeholder="Message"></textarea>
	      <button class="contact-form__button" ng-click="sendMessage($event)">SEND</button>
	    </form>
  	</div>
  </section>
</div>

<footer ng-controller="infoCtrl">
  <div class="container">
    <ul class="social">
      <li class="social__item">
        <a href="{{info.facebook}}" class="social__item--facebook"></a>
      </li>
      <li class="social__item">
        <a href="{{info.twitter}}" class="social__item--twitter"></a>
      </li>
      <li class="social__item">
        <a href="{{info.linkedin}}" class="social__item--linkedin"></a>
      </li>
    </ul>
    <p>Copyright 2015 by <span>David Hazeland<span></p>
  </div>
</footer>